<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text /html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width" name="viewport"/>
    <title></title>
    <style></style>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="5" width="100%">
    <tr>
        <td>
            <table align="left" border="1" cellpadding="0" cellspacing="5">
                <table align="left" border="1" cellpadding="0" cellspacing="5">
                    <tr>
                        <td>OrderId</td>
                        <td>PohodaId</td>
                        <td>purchaseDate</td>
                        <td>latestShipDate</td>
                        <td>totalPrice</td>
                        <td>companyName</td>
                        <td>name</td>
                        <td>address</td>
                        <td>city</td>
                        <td>zip</td>
                        <td>country</td>
                        <td>
                            <table align="left" border="1" cellpadding="0" cellspacing="5">
                                <tr>
                                    <td>itemId</td>
                                    <td>ean</td>
                                    <td>link</td>
                                    <td>dealer</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    [[data]]
                </table>
            </table>
        </td>
    </tr>
</table>
</body>
</html>